$width: 1920px;
$height: 1080px;
$h_header: $height * 0.1;
$h_footer: $height * 0.00;
$h_main: $height - $h_header - $h_footer;
$h_aside: $height - $h_header;

//whole page
@mixin layout-app {
  width: $width;
  height: $height;
}

// btn|btn|btn ----title---- time|user|btn
@mixin common-header($h: 100px, $L: 20%, $R: 20%, $M: 60%) {
  width: 100%;
  height: $h;
  // background-color: red;
  background: url(../image/header.png) repeat center;
  @include flexbox(space-between, center, row, wrap);

  .left {
    width: $L;
    height: $h;
    // background-color: blue;
    opacity: 60%;
    @include flexbox(space-between, center, row, wrap);
  }

  .right {
    width: $R;
    height: $h;
    // background-color: green;
    opacity: 60%;
    @include flexbox(space-between, center, row, wrap);
  }
}

//目标体系布局
@mixin common-layout-display0 {
  width: 100%;
  height: 100%;
  ::v-deep {
    .el-container {
      height: 100%;
      background-color: $bg_color;

      .el-header {
        height: $h_header;
        // background-color: rgb(195, 134, 207);
        border: 1px solid rgb(195, 134, 207);
        padding: 0;
      }

      .el-aside {
        width: 20%;
        height: $h_aside;
        // background-color: yellowgreen;
        border: 1px solid yellowgreen;
        padding: 0;
      }

      .el-main {
        height: $h_main;
        // background-color: bisque;
        border: 1px solid bisque;
        padding: 0;
      }

      .el-footer {
        height: $h_footer;
        // background-color: goldenrod;
        border: 1px solid goldenrod;
        padding: 0;
      }
    }
  }
}

//目标价值分析 布局
@mixin common-layout-display1 {
  width: 100%;
  height: 100%;
  ::v-deep {
    .el-container {
      height: 100%;
      background-color: $bg_color;

      .el-header {
        height: 10%;
        // background-color: rgb(195, 134, 207);
        border: 1px solid rgb(195, 134, 207);
        padding: 0;
      }

      .el-aside {
        // background-color: yellowgreen;
        border: 1px solid yellowgreen;
        width: 20%;
        padding: 0;
        display: flex;
        flex-direction: column;
      }

      .el-main {
        // background-color: bisque;
        border: 1px solid bisque;
        padding: 0;
        .main_h {
          height: 10%;
          // background-color: peru;
          border: 1px solid peru;
          padding: 0;
        }
        .main_m {
          height: 60%;
          // background-color: rgb(107, 42, 36);
          border: 1px solid rgb(187, 72, 61);
          padding: 0;
        }
        .main_f {
          height: 30%;
          // background-color: rgb(9, 58, 89);
          border: 1px solid rgb(9, 58, 89);
          padding: 0;
        }
      }

      .el-footer {
        // background-color: goldenrod;
        border: 1px solid goldenrod;
        padding: 0;
      }
    }
  }
}

//数据维护 布局
@mixin common-layout-display2 {
  width: 100%;
  height: 100%;
  ::v-deep {
    .el-container {
      height: 100%;
      background-color: red;

      .el-header {
        height: 10%;
        background-color: rgb(8, 16, 15);
        padding: 0;
      }

      .el-aside {
        width: 20%;
        background-color: yellowgreen;
      }

      .el-main {
        background-color: bisque;
      }

      .el-footer {
        background-color: goldenrod;
      }
    }
  }
}
