//color
$bg_color: rgb(16, 90, 96);
$table_cell_color: white;
$table_cell_bg_color: rgb(55, 55, 16);
$table_header_color: rgb(16, 90, 96);
$table_header_height: 100px;
$active-color: #1a7bf9; //激活颜色
$not-obvious: #5b697b; //不明显 或 不突出
$system-light: #0e3050; //系统 浅色
$system-middle: #09365e; //系统 中
$system-strong: #07253f; //系统 重
$border-light: #235b91; // 边框 浅

//tooltip
$table_cell_tooltip_bg_color: rgb(240, 191, 16);
$table_cell_tooltip_color: white;
$table_cell_tooltip_font_size: 14px;
$table_cell_tooltip_border_radius: 15px;
$table_cell_tooltip_width: 200px;
$table_cell_tooltip_height: 120px;
$table_cell_tooltip_shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.5);

//img
$header_img: '../image/header.png';
