.mytreeContainer {
    padding-top: 15px;
    width: 90%;
    .el-tree {
      background: transparent;
      width: 90%;
    }
    :deep(.el-tree) {
  
      /* ---- ---- ---- ---- ^（节点对齐）---- ---- ---- ---- */
      .el-tree-node {
        white-space: normal;//关键代码!!!!!!!!!
        /* ^ 所有节点 */
        i.el-tree-node__expand-icon {
          
          padding: 6px;

          &::before {
            font-family: element-ui-icons;
            font-style: normal;
            content: "\e6d9";
            color: #fff;
            border: 1px solid #1d5775;
            border-radius: 2px;
          }
          svg {
            display: none; // 隐藏所有节点的 svg 图标
          }
        }
        /* / 所有节点 */
  
        /* ^ 已展开的父节点 */
        i.el-tree-node__expand-icon.expanded {
          transform: rotate(0deg); // 取消旋转
          -webkit-transform: rotate(0deg); // 取消旋转
          
          // &::before {
          //   font-family: element-ui-icons;
          //   font-style: normal;
          //   content: "\e6d8";
          //   color: #fff;
          //   border: 1px solid #1d5775;
          //   border-radius: 2px;
          // }
        }
        /* / 已展开的父节点 */
  
        /* ^ 叶子节点 */
        i.el-tree-node__expand-icon.is-leaf {
          &::before {
            display: none;
          }
        }
        /* / 叶子节点 */
  
        /* ^ 复选框 */
        .el-checkbox {
          margin: 0 7px 0 2px;
  
          .el-checkbox__inner {
            width: 14px;
            height: 14px;
            border-radius: 2px;
            border: 1px solid #1d5775;
          }
  
          .el-checkbox__input.is-checked .el-checkbox__inner,
          .el-checkbox__input.is-indeterminate .el-checkbox__inner {
            border: 1px solid #5e7ce0;
          }
        }
        /* / 复选框 */
  
        .el-tree-node__content {
          height: 100%;
          // align-items: start;
          // margin: 5px 0px;
          small {
            font-size: 13px;
          }
        }
      }
      /* ---- ---- ---- ---- /（节点对齐）---- ---- ---- ---- */
  
      /* ---- ---- ---- ---- ^（文字高亮）---- ---- ---- ---- */
      .el-tree-node.is-current {
        .el-tree-node__content {
          small {
            color: #5e7ce0;
          }
        }
  
        .el-tree-node__children {
          small {
            color: unset;
          }
        }
      }
      /* ---- ---- ---- ---- /（文字高亮）---- ---- ---- ---- */
  
      /* ---- ---- ---- ---- ^（新增辅助线）---- ---- ---- ---- */
      /* ^ 树节点 */
      .el-tree-node {
        position: relative;
        width: auto;
        // width: max-content; // 显示文字宽度
        padding-left: 13px;
        margin: 6px 0px;
  
        &::before {
          width: 1px;
          height: 100%;
          content: "";
          position: absolute;
          top: -38px;
          bottom: 0;
          left: 0;
          right: auto;
          border-width: 1px;
          border-left: 1px dashed #1d5775;
        }
  
        &::after {
          width: 30px;
          height: 13px;
          content: "";
          position: absolute;
          z-index: 0;
          left: 0;
          right: auto;
          top: 12px;
          bottom: auto;
          border-width: 1px;
          border-top: 1px dashed #1d5775;
        }
  
        .el-tree-node__content {
          position: relative;
          z-index: 1;
          color: #fff;
          padding-left: 0 !important;
  
          /* ^ 复选框 */
          .el-checkbox {
            // margin: 0 10px 0 5.5px;
            margin: 0 10px 0 0px;
          }
          /* / 复选框 */
        }
  
        .el-tree-node__children {
          padding-left: 12px;
        }
  
        &:last-child::before {
          height: 50px;
        }
      }
      /* / 树节点 */
  
      /* ^ 第一层节点 */
      > .el-tree-node {
        padding-left: 0;
  
        &::before {
          border-left: none;
        }
  
        &::after {
          border-top: none;
        }
      }
      /* / 第一层节点 */
  
      /* ^ 叶子节点  @hf*/
      i.el-tree-node__expand-icon.is-leaf {
        display: none;
      }
      /* / 叶子节点 */
  
      /* ^ 设置子节点左外边距 */
      .el-tree-node__content:has(.is-leaf) {
        // color: #00ffff;
        margin-left: 25px !important;
      }
      /* / 设置子节点左外边距 */
      /* ---- ---- ---- ---- /（新增辅助线）---- ---- ---- ---- */
    }
    
  
    ::v-deep .el-tree-node__content:hover {
        background-color: transparent;
    }
  
    ::v-deep .el-tree-node.is-current > .el-tree-node__content {
        background-color: transparent !important;
    }
    ::v-deep .el-tree-node:focus > .el-tree-node__content {
        background-color: transparent;
  
    }
  
    ::v-deep .el-tree-node__content:active {
        background-color: transparent !important;
    }
    ::v-deep
      .el-tree--highlight-current
      .el-tree-node.is-current
      > .el-tree-node__content {
      background-color: transparent !important;
      // color: #E89742;
      color: #fff;
    }
    ::v-deep.el-tree-node__content {
      &:hover {
        background-color: transparent !important;
      }
    }
    ::v-deep .el-tree-node__content {
      font-size: 14px;
      &:hover {
        background: transparent !important;
      }
      // .el-icon .el-tree-node__expand-icon {
      //   &:before {
      //     width: 0px;
      //     height: 0px;
      //     content: "" !important;
      //   }
      // }
    }
    ::v-deep .el-tree .el-tree-node i.el-tree-node__expand-icon {
      width: 4px !important;
      height: 4px !important;
      background: #1b5f7e;
      margin-left: 5px;
      position: relative;
      cursor: pointer;
      margin-right:7px;
    }
    ::v-deep .el-tree .el-tree-node i.el-tree-node__expand-icon::before {
      content: "" !important;
      border: none;
      position: absolute;
      top: 25%;
      left: 50%;
      width: 1px;
      height: 10px;
      background: #fff;
    }
    ::v-deep .el-tree .el-tree-node i.el-tree-node__expand-icon::after {
      content: "" !important;
      border: none;
      position: absolute;
      top: 50%;
      left: 20%;
      width: 10px;
      height: 1px;
      background: #fff;
    }
    ::v-deep .el-tree .el-tree-node i.el-tree-node__expand-icon.expanded::before {
      content: "" !important;
      border: none;
      position: absolute;
      top: 50%;
      left: 20%;
      width: 10px;
      height: 1px;
      background: #fff;
    }
  }