.develop{
    width: 450px;
    height: 80vh;
    // background: rgba(255,255,255,0.6);
    position:fixed;
    top: 100px;
    right: 100px;
    .developContainer{
        width: 100%;
        height: 100%;
        background: rgba(15,31,52,0.8);
        .header{
            background:url("@/assets/images/新建核查任务 弹窗头部.png");
            background-size: 100% 100%;
            width: 100%;
            height: 30px;
            position:absolute;
            top:0px;
            left:0px;
            &::before{
                content:"发展变化图";
                position:absolute;
                top: 5px;
                left: 20px;
                font-size:14px;
                color: white;
            }
            .close{
                position:absolute;
                top: 8px; 
                right: 10px;
                background: url("@/assets/images/关闭.png");
                background-size: 100% 100%;
                width: 15px;
                height: 15px;
                cursor:pointer;
            }
        }
        .main{
            width: 100%;
            height: calc(80vh - 30px);
            position:absolute;
            top:30px;
            left:0px;
            border: 1px solid #1263A1;
            padding: 10px 5px 25px 15px;
            box-sizing: border-box;
            .infoBtn{
                background: url("../../../../assets/images/四字按钮.png");
                background-size: 100% 100%;
                padding: 10px 20px;
                width: 100px;
                height:40px;
                color:white;
                text-align:center;
                cursor:pointer;
                font-size:14px;
                float:right;
            }
            .mainContent{
                color:white;
                height: calc(80vh - 30px - 60px);
                overflow:hidden;
                overflow-y:scroll;
                width: 100%;
                padding-right:20px;
                box-sizing: border-box;
                li{
                    border-bottom: 1px dashed #1263A1;
                    padding:10px 0px;
                    margin-bottom:10px;
                    .titleDiv{
                        display:flex;
                        margin-bottom:10px;
                        align-items: center;
                        position:relative;
                        span{
                            color: #4AA7E7;
                            background: #36678D;
                            // padding: 5px;
                            height:30px;
                            line-height: 30px;
                            padding:0px 10px;
                            border-radius:3px;
                            font-size:12px;
                            margin-right:15px;
                        }
                        .js{
                            background: #2F7E6E;
                            color: #34c390;
                        }
                        .ysInfo{
                            background: #76765D;
                            color: #DC9E44;
                        }  
                        .aboutDoc{
                            position:absolute;
                            right:10px;
                            cursor:pointer;
                        }
                    }
                    .content{
                        font-size: 14px;
                        word-wrap: break-word;
                    }
                }
                
            }
            // main滚动条
            .mainContent::-webkit-scrollbar-thumb {
                border-radius: 3px;
                background-color: rgba(149, 148, 148, 0.2);
            }
            
            .mainContent::-webkit-scrollbar {
                width: 5px;
                height: 5px;
            }
            
            .mainContent::-webkit-scrollbar-track {
                background-color: transparent;
            }
            //main  滚动条---end
        }


        


        
    }
}


.predictionInfo{
    width: 450px;
    height: 50vh;
    position:fixed;
    top: 100px;
    right: 700px;
    z-index:99;
    .predictionInfoContainer{
        width: 100%;
        height: 100%;
        background: rgba(15,31,52,0.8);
        .header{
            background:url("@/assets/images/新建核查任务 弹窗头部.png");
            background-size: 100% 100%;
            width: 100%;
            height: 30px;
            position:absolute;
            top:0px;
            left:0px;
            cursor:move;
            &::before{
                content:"预测信息";
                position:absolute;
                top: 5px;
                left: 20px;
                font-size:14px;
                color: white;
            }
            .close{
                position:absolute;
                top: 8px; 
                right: 10px;
                background: url("@/assets/images/关闭.png");
                background-size: 100% 100%;
                width: 15px;
                height: 15px;
                cursor:pointer;
            }
        }
        .main{
            width: 100%;
            height: calc(50vh - 30px);
            position:absolute;
            top:30px;
            left:0px;
            border: 1px solid #1263A1;
            padding: 10px 5px 25px 15px;
            box-sizing: border-box;
            position:relative;
            .elFrom{
                height:calc(50vh - 110px);
                overflow:hidden;
                overflow-y:scroll;
            }
            .onSure{
                background: url("../../../../assets/images/按钮.png");
                background-size: 100% 100%;
                width: 80px;
                height: 35px;
                text-align:center;
                color:white;
                position:absolute;
                bottom: 20px;
                right:20px;
                line-height:35px;
                font-size:14px;
                cursor:pointer;
            }
        }
        // main滚动条
        .elFrom::-webkit-scrollbar-thumb {
            border-radius: 3px;
            background-color: rgba(149, 148, 148, 0.2);
        }
        
        .elFrom::-webkit-scrollbar {
            width: 5px;
            height: 5px;
        }
        
        .elFrom::-webkit-scrollbar-track {
            background-color: transparent;
        }
        //main  滚动条---end
    }
}



.aboutInfo{
    width: 450px;
    height: 50vh;
    position:fixed;
    top: 100px;
    right: 700px;
    z-index: 99;
    .aboutInfoContainer{
        width: 100%;
        height: 100%;
        background: rgba(15,31,52,0.8);
        .header{
            background:url("@/assets/images/新建核查任务 弹窗头部.png");
            background-size: 100% 100%;
            width: 100%;
            height: 30px;
            position:absolute;
            top:0px;
            left:0px;
            cursor:move;
            &::before{
                content:"相关文件";
                position:absolute;
                top: 5px;
                left: 20px;
                font-size:14px;
                color: white;
            }
            .close{
                position:absolute;
                top: 8px; 
                right: 10px;
                background: url("@/assets/images/关闭.png");
                background-size: 100% 100%;
                width: 15px;
                height: 15px;
                cursor:pointer;
            }
        }
        .main{
            width: 100%;
            height: calc(50vh - 30px);
            position:absolute;
            top:30px;
            left:0px;
            border: 1px solid #1263A1;
            padding: 10px 5px 25px 15px;
            box-sizing: border-box;
            position:relative;
            // overflow:hidden;
            // overflow-y:scroll;
        }
        // main滚动条
        .main::-webkit-scrollbar-thumb {
            border-radius: 3px;
            background-color: rgba(149, 148, 148, 0.2);
        }
        
        .main::-webkit-scrollbar {
            width: 5px;
            height: 5px;
        }
        
        .main::-webkit-scrollbar-track {
            background-color: transparent;
        }
        //main  滚动条---end
    }
}
// 修改表单样式

::v-deep .el-form-item__label{
    color:white !important;
    
}

::v-deep .el-textarea__inner{
    width: 95% !important;
    background:#022544;
    border: 1px solid #0E4C79;
    box-shadow: none;
    color:white;
}

::v-deep .el-select{
    width:95% !important;
    background:#022544;
    border: 1px solid #0E4C79;
    color:white;
}
::v-deep .el-select__tags .el-tag--info{
    background: #0E4C79;
    color: #34c390;
}

::v-deep .el-tag .el-icon{
    color:white;
}

::v-deep .el-input__wrapper{
    background: transparent;
    box-shadow: none;
}
::v-deep .el-input__inner{
    color:white;
}

::v-deep .el-date-editor.el-input, .el-date-editor.el-input__wrapper{
    width: 95% !important;
    background:#022544 !important;
    border: 1px solid #0E4C79 !important;    
}


//修改table表格样式

::v-deep .el-table thead tr th{
    background-color:#1A4F77 !important;
    color:white;
}
::v-deep .el-table th{
    color:white !important;
}

::v-deep .el-table__body tr.hover-row>td.el-table__cell{
    // background-color: #182F4E !important;
    background-color: #105FA2 !important;
}

::v-deep .el-table__body-wrapper tr td.el-table-fixed-column--left{
    background-color: rgba(23,46,77) !important;
    color:white !important;
    border-color: #112035;
}

::v-deep  .el-table th.el-table__cell.is-leaf{
    border:none;
}
::v-deep .el-table__inner-wrapper::before {
    content: "";
    position: absolute;
    background-color: transparent;
    z-index: 3;
}

::v-deep .el-table tr{
    background-color: rgba(23,46,77) !important;
    
}
::v-deep .el-table td.el-table__cell{
    border-color: #112035;
}

// 修改上传文件的列表样式

::v-deep .el-upload-list__item:hover{
    background-color:transparent;
    color:white;
}
::v-deep .el-upload-list__item-name{
    color: white !important;
}